/mobile/*~
/mobile/*.o
/mobile/*.lo
/mobile/*.la
/mobile/.libs
/mobile/.deps
/mobile/*.pc
/mobile/Makefile
/mobile/Makefile.in
/mobile/*.so
/mobile/.*.sw[po]
/mobile/README
/mobile/aclocal.m4
/mobile/autom4te.cache/
/mobile/config.cache
/mobile/config.guess
/mobile/config.h
/mobile/config.h.in
/mobile/config.log
/mobile/config.status
/mobile/config.sub
/mobile/configure
/mobile/depcomp
/mobile/doc/evas.dox
/mobile/evas.spec
/mobile/install-sh
/mobile/libtool
/mobile/ltmain.sh
/mobile/missing
/mobile/stamp-h1
/mobiletags
/mobilecscope.out
/mobile/config.cache
/mobile/ABOUT-NLS
/mobile/compile
/mobile/config.cache-env
/mobiledoc/Doxyfile
/mobiledoc/eet.dox
/mobile/eet.spec
/mobilem4/libtool.m4
/mobilem4/ltoptions.m4
/mobilem4/ltsugar.m4
/mobilem4/ltversion.m4
/mobilem4/lt~obsolete.m4
/mobilesrc/bin/eet
/mobile/config.guess.cdbs-orig
/mobile/config.sub.cdbs-orig
/mobile/debian/files
/mobile/debian/*.debhelper.log
/mobile/debian/*.substvars
/mobile/debian/*.debhelper
/mobile/debian/stamp-*
/mobile/debian/tmp/
/mobile/doc/html/
/mobile/doc/latex/
/mobile/doc/man/
/mobiledebian/libeet-bin/
/mobiledebian/libeet-dbg/
/mobiledebian/libeet-dev/
/mobiledebian/libeet-doc/
/mobiledebian/libeet1/
/mobile/*-doc.tar.bz2
/mobile/*-doc.tar.bz2.cdbs-config_list


/wearable/*.o
/wearable/*.lo
/wearable/*.la
/wearable/.libs
/wearable/.deps
/wearable/*.pc
/wearable/Makefile
/wearable/Makefile.in
/wearable/*.so
/wearable/.*.sw[po]
/wearable/README
/wearable/aclocal.m4
/wearable/autom4te.cache/
/wearable/config.cache
/wearable/config.guess
/wearable/config.h
/wearable/config.h.in
/wearable/config.log
/wearable/config.status
/wearable/config.sub
/wearable/configure
/wearable/depcomp
/wearable/doc/evas.dox
/wearable/evas.spec
/wearable/install-sh
/wearable/libtool
/wearable/ltmain.sh
/wearable/missing
/wearable/stamp-h1
/wearabletags
/wearablecscope.out
/wearable/config.cache
/wearable/ABOUT-NLS
/wearable/compile
/wearable/config.cache-env
/wearabledoc/Doxyfile
/wearabledoc/eet.dox
/wearable/eet.spec
/wearablem4/libtool.m4
/wearablem4/ltoptions.m4
/wearablem4/ltsugar.m4
/wearablem4/ltversion.m4
/wearablem4/lt~obsolete.m4
/wearablesrc/bin/eet
/wearable/config.guess.cdbs-orig
/wearable/config.sub.cdbs-orig
/wearable/debian/files
/wearable/debian/*.debhelper.log
/wearable/debian/*.substvars
/wearable/debian/*.debhelper
/wearable/debian/stamp-*
/wearable/debian/tmp/
/wearable/doc/html/
/wearable/doc/latex/
/wearable/doc/man/
/wearabledebian/libeet-bin/
/wearabledebian/libeet-dbg/
/wearabledebian/libeet-dev/
/wearabledebian/libeet-doc/
/wearabledebian/libeet1/
/wearable/*-doc.tar.bz2
/wearable/*-doc.tar.bz2.cdbs-config_list
